@charset "utf-8";

#headline{
	height: 300px;
	width: 100%;
	min-width: 1280px;
	background: linear-gradient(to bottom right, rgba(0,0,0,0.7),rgba(0,0,0,0.0)), url(./img/headline.jpg) no-repeat center;
	/*background:;*/
	background-repeat: no-repeat;
}

#head-center{
	min-width: 1280px;
	margin: 0px auto;
	width: 1280px;
	color: #eee;
}

#head-center h2{
	padding: 75px 0 0 40px;
	font-size: 36px;
}

#head-center p{
	padding-left: 40px;
	font-size: 24px;
}

#container{
	width: 1280px;
	height: 1300px;
	/*background: red;*/
	margin: 50px auto;
}

#con-aside {
	margin-top: 20px;
	width: 320px;
	height: 1300px;
	/*background: #eee;*/
	/*border: 1px solid blue;*/
	float: right;
	text-align: center;
}

.con-aside-block{
	width: 320px;
	height: 370px;
	border: 1px solid #eee;
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 20px;
}

.con-aside-block h2{
	text-align: left;
	display: block;
	/*margin-bottom: 10px;*/
	color: #666;
	padding: 10px;
	box-sizing: border-box;
	background-color: #fafafa;
	font-weight: normal;
}

#con-aside-command .tag{
	/*margin-top: 18px;*/
}

#con-aside-command li{
	display: inline;
}

#con-aside-command a{
	display: inline-block;
	width: 100px;
	height: 35px;
	background: #eee;
	line-height: 35px;
	text-align: center;
	color: #999;
	text-decoration: none;
	margin-top: 10px;
}

#con-aside-command a:hover{
	background: orange;
	color: #fff;
}

#con-aside-hot{
	height: 680px;
}

#con-aside-hot figure{
	display: inline-block;
	width: 150px;
	height: 100px;
	margin: 10px 0px;
	color: #666;
	opacity: 0.9;
}

#con-aside-hot figure:hover{
	opacity: 1;
}

#con-list{
	margin-top: 20px;
	width: 930px;
	height: 1300px;
	/*background: #777;*/
	float: left;
}

#con-aside-box{
	height: 150px;
}

#box a{
	display: inline-block;
	width: 150px;
	height: 35px;
	line-height: 35px;
	text-align: left;
	text-indent: 35px;
	margin-top: 10px;
	color: #999;
	text-decoration: none;
	background: #eee url(./img/trea1.png) 5px no-repeat;
	/*background: #eee;*/
	opacity: 0.7;
}

#box a:hover{
	opacity: 1;
}

#con-list-top{
	background: #eee;
	/*border: 2px solid blue;*/
	height: 40px;
}

#con-list-top a{
	text-decoration: none;
	color: #666;
}

#con-list-top ul{
	list-style: none;
}

#con-list-top li{
	display: inline-block;
}

#con-list-top-left{
	display: inline-block;
	/*border: 2px solid red;*/
	float: left;
	/*height: 50px;*/
}

#con-list-top-left li{
	font-size: 20px;
	line-height: 37px;
	width: 120px;
	text-align: center;
}

#con-list-top-left li:hover{
	box-sizing: border-box;
	border-top: 3px solid orange;
	background: #fff;
}

#con-list-top-left li:first-child{
	box-sizing: border-box;
	border-top: 3px solid orange;
	background: #fff;
}

#con-list-top-right{
	display: inline-block;
	/*border: 2px solid green;*/
	float: right;
	background: #eee;
}

#con-list-top-right ul{
	margin-right: 40px;
}

#con-list-top-right li{
	font-size: 16px;
	line-height: 40px;
	margin-right: 20px;
}

#con-list-top-right li a{
	padding: 3px 8px;
}

#con-list-top-right li a:hover{
	color: #fff;
	background: green;
}

#con-list-top-right-active a{
	color: #fff;
	background: green;
}

#con-list-main{
	/*border: 2px solid red;*/
	margin-top: 30px;
	position: relative;
}

#con-list-main header{
	/*float: right;*/
	width: 330px;
	position: absolute;
	left: 390px;
	/*top: 20px;*/
}

#con-list-main header h2{
	font-size: 26px;
	font-weight: normal;
	height: 26px;
	padding: 10px 0 10px 10px;
}

#con-list-main header h3{
	font-size: 18px;
	font-weight: normal;
	height: 18px;
	padding: 10px 0 10px 10px;
	color: #666;
}

#con-list-main article{
	background: #eee;
	color: #666;
	position: relative;
	margin: 10px 0 0 10px;
}

#con-list-main article ol{
	list-style: none;
	position: absolute;
	left: 400px;
	bottom: 60px;
}

#con-list-main article ol li{
	line-height: 26px;
}

#con-list-main article ol mark{
	background: #fff;
	border: 1px solid green;
	border-radius: 4px;
	padding: 0px 8px;
	color: green;
}

.con-list-main-buy{
	position: absolute;
	top: 70px;
	right: 30px;
}

.con-list-main-buy .con-list-main-buy-price strong{
	font-size: 28px;
	color: #f60;
}

.con-list-main-buy-now{
	margin-top: 5px;
	cursor: pointer;
	background: #f60;
/*	height: 8px;*/
	text-align: center;
	padding: 8px 0;
	font-size: 25px;
	color: #fff;
	border-radius: 10px;
	/*height: 28px;*/
}

.con-list-main-buy-now:hover{
	background: red;
}

.con-list-main-disc{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 52px;
	height: 52px;
	background-image: url(./img/disc.png);
}

.con-list-main-disc span{
	display: block;
	transform: rotate(45deg);
	text-indent: 7px;
	font-size: 14px;
	color: #ff7a4d;
	padding-left: 10px;
}

#con-list-main footer{
	position: absolute;
	bottom: 10px;
	left: 400px;
}

#con-list-main footer time{
	color: orange;
	font-size: 1.2em;
}

